<div class="container-fluid m-2">

  <div class="btn-group float-right" role="group" aria-label="Basic example">

    <a [routerLink]="['rds-instances', 'create']" routerLinkActive="active"
       class="btn btn-outline-primary">Create RDS</a>

    <a class="btn btn-outline-danger" (click)="delete(provider.id)">Delete provider</a>

  </div>

  <app-rds-instances-list-item [rdsInstance]="rdsInstance"
                               *ngFor="let rdsInstance of rdsInstances"></app-rds-instances-list-item>

</div>
